@import '../../scss/variables';

.container-horizontal-scroll-stepper { 
    display: flex;
    height: 90%;
    position: relative;
}

.container-horizontal-scroll-stepper-items { 
    display: flex;
    flex-flow: row;
    overflow-y: hidden;
    overflow-x: auto;
    align-items: center;
}

span[class^=horizontal-list-] { 
    // padding: 0 1em;
}

.horizontal-scroll-arrow{
    position: absolute;
    z-index: 2;
    background-color: transparent;
    backdrop-filter: saturate(87%) blur(2px);
    border: none;
    color: $light-text;
    bottom: 2em;
    margin: 0 1em;
}

.horizontal-scroll-arrow:hover{
    cursor: pointer;
}

.horizontal-scroll-arrow.left { 
    left: 0
}
.horizontal-scroll-arrow.right { 
    right: 0
}