@import '../../scss/variables';

.container-horizontal-scroll-stepper { 
    display: flex;
    height: 90%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container-horizontal-scroll-stepper-items { 
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    transition: transform 1s;
}

.horizontal-scroll-arrow{
    position: absolute;
    z-index: 2;
    background-color: transparent;
    backdrop-filter: saturate(87%) blur(2px);
    border: none;
    color: $light-text;
    bottom: 2em;
    margin: 0 1em;
    padding-bottom: 2em;
}

.horizontal-scroll-arrow:hover{
    cursor: pointer;
}

.horizontal-scroll-arrow.left { 
    left: 0
}
.horizontal-scroll-arrow.right { 
    right: 0
}
.horizontal-list-item {
    display: inline-block;
}