@import '../../scss/variables';
@import '../../scss/mixins';
.section-container.aboutme {
    transform-style: preserve-3d;
    text-align: center;
    background-color: #000;
    color: $primary-light;
}

.aboutme-inner-container { 
    padding: 0 2em 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.aboutme-synopsis {
    margin: 1em 0 2em 0;
}

.section-container.aboutme .section-header { 
    margin-left: 0;
    margin-bottom: 1em;
}

.anchor-button { 
    padding: 0.5em 1em;
    color: $primary-light;
    margin-top: 1em;
    text-transform: capitalize;
    background-color: transparent;
    border: 1px solid $primary-light;
    text-decoration: none;
    display: flex;
    align-items: center;

        font-size: 1.15em;
        
            @include mobile {
                font-size: 1em;
            }
}

.anchor-button:hover { 
    cursor: pointer;
}

#aboutme > div > div.button-container.black{
    background-color: rgba($color: #000000, $alpha: .8);
    @include mobile { 
        width: 100%;
    }
}

.button-container { 
    width: 35%;
    background: black;
}
#aboutme > div > div.popup-container.show > div > div.popup-element-section > ul > li:nth-child(2) > div > div.contact-card-icon-container > img {
    height: 70%
}

.aboutme-inner-container.hidden { 
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1s;

    @include mobile { 
        transform: translateX(0);
        transition: all 0.5s;
    }
}

.aboutme-inner-container.show { 
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1s;

    @include mobile { 
        transform: translateX(0);
        transition: all 0.5s;
    }

}