@import '../../scss/variables';
@import '../../scss/mixins';
.section-container.projects { 
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-light;
    color: $dark-text;
    text-align: center;
    transform-style: preserve-3d;
    overflow: visible;
    width: 100vw;
    height: 100%;
    padding: 0 1em 2em;

    @include mobile { 
        padding: 0 0.5em 2em;
    }


}

.section-container.projects .section-header { 
    margin-left: 0;
    margin-bottom: 1em;
}

.section-container.projects .githubLogo { 
    margin-top: 2em;
}

.section-container.projects div:nth-child(4) { 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include mobile { 
        justify-content: center;
    }
}

#scroll-container-\:r3\: {
    height: 100%;
}
