@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.section-container.start { 
    display: flex;
    padding-top: 0;
    background-color: $primary-light;
    color: $dark-text;
    text-align: center;
    transform-style: preserve-3d;
    overflow: visible;
    align-items: center;
    justify-content: flex-start;

    @include desktop { 
        display: grid;
        grid-template-columns: 40% 60% 0%;
        grid-template-rows: 100%;
    }
    @include mobile { 
      display: flex;
      justify-content: center;
      flex-flow: column;
    }
}


.parallax-background::before { 
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    inset: 0;
}

.section-container.start div:nth-of-type(2){
    position: absolute;
    bottom: 0;
    @include desktop { 
        position: absolute;
        left: 45vw;
        height: 95%;
    }

    @include mobile {
        position: absolute;
        left: 0;
        height: 55%;
    }

    @include small-mobile { 
        height: 60%;
    }
}

.parallax-background,
.parallax-foreground
{ 
    padding-top: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.start-headshot {
    display: block;

    @include desktop { 
        height: 85%;
        width: 100%;
        margin: 0 auto;
    }
    @include mobile { 
        width: 80%;
        height: 80%;
        margin: auto;
    }

    @include small-mobile { 
        height: 40%;
    }
} 
.parallax-background { 
    background: black;
    transform: translateZ(1px) scale(1);
    height: 70vh;
    width: 70vh;
    @include desktop { 
        // position: relative;
        position: absolute;
        height: 70%;
        width: 30%;
        left: 10vw;
        margin: 0 auto;
    }
    @include mobile { 
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
    }
}
.parallax-foreground { 
    width: 100%;
    height: 20vh;
    background: none;
    object-fit: none;
    @font-face {
            font-famly: 'Owners-Bold', 'Owners';
            src:
                url('https://use.typekit.net/oro0muj.css') format('svg');
    }

    @include desktop { 
        background: black;
        bottom: 0;
        height: 30%;
        z-index: 0;
    }

    @include mobile { 
        height: 100%;
        bottom: 20%;
        background: rgba(0,0,0,0.2);
    }
    @include small-mobile {
        // bottom: 65%;
    }
}

.section-container.start.hidden,
.section-container.welcome.hidden { 
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-100%);
    transition: all 1s;

    @include mobile { 
        transform: translateX(0);
        transition: all 0.5s;
    }
}

.section-container.start.show,
.section-container.welcome.show { 
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1s;
    @include mobile { 
        transform: translateX(0);
        transition: all 0.5s;
    }
}

