@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.section-container.welcome { 
    display: flex;
    flex-flow: column;
    padding-top: 0;
    background-color: $primary-light;
    color: $dark-text;
    text-align: center;
    transform-style: preserve-3d;
    overflow: visible;
    justify-content: center;
    align-items: center;
}

.section-container.welcome div { 
    transform: translateZ(4px) scale(0.6);
    padding: 2em;
}

