@import '../../scss/variables';
@import '../../scss/functions';
@import '../../scss/mixins';

.section-container.welcome { 
    display: flex;
    flex-flow: column;
    padding-top: 0;
    background-color: $primary-light;
    color: $dark-text;
    text-align: center;
    transform-style: preserve-3d;
    overflow: visible;
    justify-content: center;
    align-items: center;
    height: 65vh;
    transform: translateZ(1px) scale(0.8);

    @include mobile { 
        height: 55%;
    }

    @include small-mobile { 
        height: 65%;
    }
}

.section-container.welcome div:nth-child(1) { 
    padding: 1em;
    height: 100%;
}

.section-container.welcome .section-header { 
    margin-left: 0;
    margin-bottom: 1em;
}
