@import '../../../scss/variables';
@import '../../../scss/mixins';

.jump-to-section-button-container,
.jump-to-section-button-container h3,
.jump-to-section-button-container img
{ 
    all: unset;
}

.jump-to-section-button-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid #000;
    width: 70%;

    @include desktop { 
        width: 35%
    }
    @include mobile { 
        margin: 2em auto 0.5em;
        width: 50%
    }
}

.jump-to-section-button-container img { 
    height: 4em;
}

.jump-to-section-button-container h3 { 
    font-size: 3em;
    text-align: center;
    padding: 0.5em;

    @include desktop  {
        font-size: 1.5em;
    }
    @include mobile { 
        font-size: 1.5em;
    }
}

.jump-to-section-button-container:hover { 
    cursor: pointer;
}

.light { 
    color: $light-text !important;
}

.dark { 
    color: $dark-text !important;
}
