@import '../../../scss/mixins';
@import '../../../scss/functions';


.subheading-experience-card { 
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}
.container-experience-card { 

    width: 75vw;
    padding: 3em;
    h2 { 
        margin: 0 0 1em 0.8em;
        @include micro-mobile { 
            margin-bottom: 0.2em;
        }
    }
    @include mobile{
        width: 100vw;
        padding: 0;
    }
}

.tenure-experience-card, p { 
    font-weight: weight(light);
}

.position-experience-card, 
.tenure-experience-card { 
    margin-bottom: 1em;
}

.position-experience-card { 
    margin-right: 1em;
    margin-left: 1em;
}

.tenure-experience-card { 
    margin-left: 1em;
}

.description-experience-card { 
    margin: 0 1em 1em 1em;
}

.container-button-experience-card { 
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.portfolio-button { 
    padding: 0.5em 1em;
    color: $primary-light;
    background-color: $primary-dark;
    border: 1px solid $primary-light;
}

.portfolio-button:hover{
    cursor: pointer;
}